{
  "plugins": ["prettier-plugin-astro"],
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "bracketSameLine": true,
        "singleAttributePerLine": false,
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSpacing": false,
        "embeddedLanguageFormatting": "auto",
        "vueIndentScriptAndStyle": false
      }
    }
  ]
}
