html.theme-dark {
  --primary-color: #38bdf8;
  --secondary-color: #ff9800;
  --background-color: #222;
  --background-color-rgb: 34, 34, 34;
  --container-bg-color: #333;
  --container-bg-color-rgb: 51, 51, 51;
  --text-color: #e0e0e0;
  --heading-color: #f5f5f5;
  --border-color: #444;
  --link-hover-color: #38bdf8;
  --active-color: #ff9800;
  --link-color: #38bdf8;
  --text-color-secondary: #b8b8b8;
  --text-color-tertiary: #a0a0a0;
  --code-bg-color: #2d2d2d;
  --tag-bg-color: #444;
  --tag-text-color: #e0e0e0;
  
  --button-text-color: #ffffff;
  --button-hover-text-color: #222222;
  --button-hover-bg-color: #38bdf8;
  
  --pagination-color: #ffffff;
  --pagination-active-color: #ff9800;
  --pagination-hover-color: #38bdf8;

  --scrollbar-thumb-color: rgba(255, 255, 255, 0.5);

  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-color-light: rgba(0, 0, 0, 0.08);
  
  --hero-bg-opacity: 0.15;
  --hero-bg-filter: brightness(0.7);
  
  --vanta-dot-color: 0xd5d5d5;
  --vanta-bg-color: 0x000000;
}

html.theme-light {
  --primary-color: #0066cc;
  --secondary-color: #e67e00;
  --background-color: #f5f5f5;
  --background-color-rgb: 245, 245, 245;
  --container-bg-color: #ffffff;
  --container-bg-color-rgb: 255, 255, 255;
  --text-color: #333333;
  --heading-color: #222222;
  --border-color: #dddddd;
  --link-hover-color: #0066cc;
  --active-color: #e67e00;
  --link-color: #0066cc;
  --text-color-secondary: #555555;
  --text-color-tertiary: #666666;
  --code-bg-color: #f5f5f5;
  --tag-bg-color: #f0f0f0;
  --tag-text-color: #444444;
  
  --button-text-color: #ffffff;
  --button-hover-text-color: #ffffff;
  --button-hover-bg-color: #e67e00;
  --button-bg-color: #0066cc;
  --button-border-color: #0066cc;
  
  --pagination-color: #444444;
  --pagination-active-color: #e67e00;
  --pagination-hover-color: #0066cc;
  
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.3);
  
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-color-light: rgba(0, 0, 0, 0.08);
  
  --hero-bg-opacity: 0.1;
  --hero-bg-filter: invert(1) brightness(0.2);
  
  --vanta-dot-color: 0x333333;
  --vanta-bg-color: 0xf5f5f5;
}
