@import 'variables';

// Utility classes
.text-center {
  text-align: center;
}

// Margin utilities
.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: $spacing-sm;
}

.mb-2 {
  margin-bottom: $spacing-md;
}

.mb-3 {
  margin-bottom: $spacing-lg;
}

.mb-4 {
  margin-bottom: $spacing-xl;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: $spacing-sm;
}

.mt-2 {
  margin-top: $spacing-md;
}

.mt-3 {
  margin-top: $spacing-lg;
}

.mt-4 {
  margin-top: $spacing-xl;
}

// Buttons
.btn-primary {
  display: inline-block;
  position: relative;
  padding: 0.8em 2.1em;
  margin-bottom: 0.75em;
  margin-right: 0.25em;
  font-size: 1em;
  line-height: 1.2;
  border: 0;
  outline: 0;
  border: 2px solid $primary-color;
  color: #fff;
  text-shadow: none;
  background-color: $background-color;
  border-radius: 30px;
  font-family: $font-family;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.78);
  
  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

.btn-secondary {
  @extend .btn-primary;
  border-color: $text-color;
  
  &:hover {
    color: $background-color;
    border-color: $text-color;
    background-color: $text-color;
  }
}
