---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Layout>
  <div
    id="main"
    class="site-main"
  >
    <div
      id="main-content"
      class="single-page-content"
    >
      <Welcome />
      <Testimonials title="What People Say" />
    </div>
  </div>
</Layout>
