---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Testimonials from "../components/Testimonials.astro";
import Tabs from "../components/Tabs.astro";
---

<Layout
  title="Jeff Scotti - Senior Front End Engineer & UI/UX Designer"
  description="Jeff Scotti is a Senior Front End Engineer and UI/UX Designer with 15+ years of experience building intuitive, high-performance web applications."
  type="website"
  keywords={[
    "Jeff Scotti",
    "Front End Engineer",
    "UI/UX Designer",
    "Web Developer",
    "JavaScript",
    "React",
    "User Experience",
    "Web Applications",
  ]}>
  <div id="main" class="site-main">
    <div id="main-content" class="single-page-content">
      <Welcome />
      <Testimonials title="What People Say" />
    </div>
  </div>
</Layout>
