<div class="hero-bg">
  <img class="circle-1" src="/images/background/hero-bg-1.svg" alt="" />
  <img class="circle-2" src="/images/background/hero-bg-2.svg" alt="" />
</div>

<style>
  .hero-bg {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    inset: 0%;
    z-index: -1;
    overflow: hidden;
  }

  .hero-bg .circle-1,
  .hero-bg .circle-2 {
    position: absolute;
    height: 100vmax;
    width: 100vmax;
    object-fit: cover;
    opacity: 0.05;
  }

  .hero-bg .circle-1 {
    -webkit-animation: zoom 40s infinite linear;
    animation: zoom 40s infinite linear;
  }

  .hero-bg .circle-2 {
    -webkit-animation: spinner 40s infinite linear;
    animation: spinner 40s infinite linear;
  }

  @keyframes zoom {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @-webkit-keyframes spinner {
    to {
      -webkit-transform: translate3d(0px, 0px, 0px) rotateZ(-360deg);
      transform: translate3d(0px, 0px, 0px) rotateZ(-360deg);
    }
  }

  @keyframes spinner {
    to {
      -webkit-transform: translate3d(0px, 0px, 0px) rotateZ(-360deg);
      transform: translate3d(0px, 0px, 0px) rotateZ(-360deg);
    }
  }

  .theme-dark .hero-bg .circle-1,
  .theme-dark .hero-bg .circle-2 {
    opacity: 0.075;
  }

  .theme-light .hero-bg .circle-1,
  .theme-light .hero-bg .circle-2 {
    opacity: 0.08;
  }

  @media (prefers-reduced-motion: reduce) {
    .hero-bg .circle-1,
    .hero-bg .circle-2 {
      animation-duration: 120s;
    }
  }

  .hero-bg .circle-1,
  .hero-bg .circle-2 {
    will-change: transform;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
</style>
