---
import "../styles/footer.scss";
import ravenLogoWhite from "../assets/raven-logo-sm.png";
import ravenLogoBlack from "../assets/raven-logo-sm-blk.png";

const currentYear = new Date().getFullYear();
---

<footer id="site_footer" class="footer">
  <div class="footer-content">
    <div class="footer-center">
      <div class="footer-logo">
        <img src={ravenLogoWhite.src} alt="Raven Logo" class="raven-logo white-logo" />
        <img src={ravenLogoBlack.src} alt="Raven Logo" class="raven-logo black-logo" />
      </div>
      <div class="copyright">
        &copy; {currentYear} Jeff Scotti. All rights reserved.
      </div>
    </div>
  </div>
</footer>
