---
import ravenLogoWhite from "../assets/raven-logo-sm.png";
import ravenLogoBlack from "../assets/raven-logo-sm-blk.png";
---

<div class="logo-lockup" transition:persist="logo">
  <div class="logo-container">
    <img src={ravenLogoWhite.src} alt="Raven Logo" class="raven-logo white-logo" />
    <img src={ravenLogoBlack.src} alt="Raven Logo" class="raven-logo black-logo" />
  </div>
  <span class="logo-text"><strong>Jeff</strong> Scotti</span>
</div>

<style>
  .logo-lockup {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .logo-container {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
  }

  .raven-logo {
    height: 45px;
    width: auto;
  }

  .logo-text {
    font-size: 17pt;
    color: var(--heading-color);
  }

  .white-logo {
    display: block;
  }

  .black-logo {
    display: none;
  }

  html.theme-light .white-logo {
    display: none;
  }

  html.theme-light .black-logo {
    display: block;
  }
</style>
