---
import ravenLogoWhite from "../assets/raven-logo-sm.png";
import ravenLogoBlack from "../assets/raven-logo-sm-blk.png";
---

<div class="logo-lockup">
  <div class="logo-container">
    <img
      src={ravenLogoWhite.src}
      alt="Raven Logo"
      class="raven-logo white-logo"
      width="45"
      height="45"
    />
    <img
      src={ravenLogoBlack.src}
      alt="Raven Logo"
      class="raven-logo black-logo"
      width="45"
      height="45"
    />
  </div>
  <span class="logo-text"><strong>Jeff</strong> Scotti</span>
</div>

<style>
  .logo-lockup {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo-container {
    width: 50px;
    height: 50px;
    position: relative;
  }

  .raven-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    width: 55px;
    object-fit: contain;
    display: none;
  }

  .logo-text {
    font-size: 17pt;
    color: var(--heading-color);
  }

  .theme-dark .white-logo {
    display: block;
  }

  .theme-light .black-logo {
    display: block;
  }

  /* Default to white logo if no theme class is present */
  :root:not(.theme-light):not(.theme-dark) .white-logo {
    display: block;
  }
</style>

<script>
  // Function to update logo visibility based on current theme
  function updateLogoVisibility() {
    const isLightTheme = document.documentElement.classList.contains("theme-light");
    const whiteLogo = document.querySelector(".white-logo") as HTMLElement | null;
    const blackLogo = document.querySelector(".black-logo") as HTMLElement | null;

    if (whiteLogo && blackLogo) {
      if (isLightTheme) {
        whiteLogo.style.display = "none";
        blackLogo.style.display = "block";
      } else {
        whiteLogo.style.display = "block";
        blackLogo.style.display = "none";
      }
    }
  }

  document.addEventListener("DOMContentLoaded", updateLogoVisibility);
  document.addEventListener("themeChanged", updateLogoVisibility);
</script>
