---
import ravenLogo from "../assets/raven-logo-sm.png";
---

<div class="logo-lockup">
  <img src={ravenLogo.src} alt="Raven Logo" class="raven-logo" />
  <span class="logo-text"><strong>Jeff</strong> Scotti</span>
</div>

<style>
  .logo-lockup {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .raven-logo {
    height: 45px;
    width: auto;
  }

  .logo-text {
    font-size: 17pt;
    color: #f5f5f5;
  }
</style>
