---
import ravenLogoWhite from "../assets/raven-logo-sm.png";
import ravenLogoBlack from "../assets/raven-logo-sm-blk.png";
---

<div class="logo-lockup" transition:persist="logo">
  <div class="logo-container">
    <img src={ravenLogoWhite.src} alt="Raven Logo" class="raven-logo white-logo" />
    <img src={ravenLogoBlack.src} alt="Raven Logo" class="raven-logo black-logo" />
  </div>
  <span class="logo-text"><strong>Jeff</strong> Scotti</span>
</div>

<style>
  .logo-lockup {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease-in-out;
  }

  .logo-container {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
  }

  .raven-logo {
    height: 45px;
    width: auto;
    transition: all 0.3s ease-in-out;
  }

  .logo-text {
    font-size: 17pt;
    color: var(--heading-color);
    transition: color 0.3s ease-in-out;
  }

  .white-logo {
    display: block;
  }

  .black-logo {
    display: none;
  }

  html.theme-light .white-logo {
    display: none;
  }

  html.theme-light .black-logo {
    display: block;
  }

  :global(.site-logo a:hover) .logo-text {
    color: var(--link-hover-color);
  }

  :global(.site-logo a:hover) .white-logo {
    filter: brightness(0) saturate(100%) invert(54%) sepia(86%) saturate(1881%) hue-rotate(185deg) brightness(100%) contrast(98%);
  }
  
  :global(.site-logo a:hover) .black-logo {
    filter: brightness(0) saturate(100%) invert(54%) sepia(86%) saturate(1881%) hue-rotate(185deg) brightness(100%) contrast(98%);
  }
</style>
