---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import ravenLogo from '../assets/raven-logo-sm.png';
import '../styles/main.scss';
---

<div class="welcome-container">
	<img class="background" src={background.src} alt="" fetchpriority="high" />
	<main class="main-content">
		<section class="hero-section">
			<h1>
				<img src={ravenLogo.src} alt="Raven Logo" class="raven-logo" />
				J. Scotti
			</h1>
			<h4>Front End Engineer & UI/UX Designer</h4>
		</section>
	</main>
</div>
