---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import '../styles/main.scss';
import '../styles/welcome.scss';
---

<div class="welcome-container">
	<img class="background" src={background.src} alt="" fetchpriority="high" />
	<main class="main-content">
		<section class="hero-section">
			<h1>
				Jeff Scotti
			</h1>
			<h4>Web Developer & Designer</h4>
		</section>
	</main>
</div>
