<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Jeff Scotti - Senior Front End Engineer, Senior UI/UX Designer</title>
	</head>
	<body>
		<div class="lm-animated-bg"></div>
		<div class="page-container">
			<slot />
		</div>
	</body>
</html>
