---
import "../styles/variables.scss";
import "../styles/base.scss";
import "../styles/utilities.scss";
import "../styles/layout.scss";
import "../styles/theme.scss";
import "../styles/common.scss";
import "../styles/footer.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import VantaBackground from "../components/VantaBackground.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <script is:inline>
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme) {
        document.documentElement.classList.add(savedTheme);
      } else {
        // Set dark theme as default
        document.documentElement.classList.add("theme-dark");
        localStorage.setItem("theme", "theme-dark");
      }
    </script>
    <link
      rel="icon"
      type="image/ico"
      href="/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon.png"
    />
    <link
      rel="apple-touch-icon"
      href="/apple-touch-icon.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-touch-icon-114x114.png"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Jeff Scotti - Senior Front End Engineer, Senior UI/UX Designer</title>
    <script
      src="https://kit.fontawesome.com/ad9e6c27c0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <VantaBackground />
    <div class="page-container">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
